{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<header class="main-header detail-page image-bg {% if cover %} has-cover" style="background-image: url({{ cover | absolute_url }})" {% else %} no-cover" {% endif %}>
    <h1 class="page-title"><a href="{{ "/" | absolute_url }}" title="{{ site.title }}">{{ site.title }}</a></h1>
    <h2 class="page-description">{{ site.subtitle }}</h2>
    <div class="nav">
        <ul>
            <li><a class="page-link" href="{{ "/" | absolute_url }}" title="Home">Home</a></li>

            {% assign pages = site.pages | sort:"weight"  %}
            {% for my_page in pages %}

            {% if my_page.menutitle %}
            {% assign title = my_page.menutitle %}
            {% elsif site.title %}
            {% assign title = my_page.title %}
            {% endif %}

            {% if title and my_page.visible != false %}
            <li><a class="page-link" href="{{ my_page.url | absolute_url }}" title="{{ title }}">{{ title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <video playsinline autoplay="autoplay" muted loop poster="media/img/polina.jpg" id="bgvid">
        <source src="media/video/polina.webm" type="webm">
        <source src="media/video/polina.mp4" type="mp4">
    </video>
<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
    <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>
<div id="polina">
    <h1>Polina</h1>
    <p>filmed by Alexander Wagner 2011
    <p><a href="http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video">original article</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
    <p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
    <button>Pause</button>
</div>
</header>
<style>
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(media/img/polina.jpg) no-repeat;
        background-size: cover;
    }
</style>
<script>
    setTimeout(function(){
        document.getElementById('bgvid').play();
    },10000);
    var vid = document.getElementById("bgvid"),
        pauseButton = document.getElementById("vidpause");
    vid.play();
</script>